.cv-wrapper {
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  padding: 2rem 0;
}

.cv-wrapper h2 {
  align-self: center;
  color: inherit;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .cv-wrapper {
    display: grid;
    grid-template-columns: 4fr 7fr; /* only want this if experience has at least 2 things */
    
  }
}