.personal-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 5vw;
  background-color: var(--background-card);
}

.personal-info-wrapper h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .personal-info-wrapper {
    grid-column: 1 / 3;
  }
}