:root {
  --background: rgb(245, 245, 245);
  --background-card: rgba(214, 214, 214, 0.8);
  --text: rgba(42, 42, 42);
  --text-t: rgba(42, 42, 42, 0.8);
  --background-dark: rgba(68, 68, 68, 0.8);
  --text-dark: rgba(255, 255, 255, 0.87);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="submit"], button {
  background-color: var(--background-dark);
  color: var(--text-dark);
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="submit"]:hover, 
input[type="submit"]:focus,
button:hover, 
button:focus {
  background-color: var(--text-dark);
  color: var(--background-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  input[type="submit"] {
    background-color: var(--background);
    color: var(--text);
  }

  input[type="submit"]:hover, 
  input[type="submit"]:focus {
    background-color: var(--text-t);
    color: var(--background);
  }

  button {
    padding: 0.5rem;
    background-color: var(--background);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--text);
  }

  button:hover, 
  button:focus {
    background-color: var(--text-t);
    color: var(--background);
  }
}
